[Unit]
Description=Run record.py
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash -c "cd %s && source %s/.env && %s/run.sh"
EnvironmentFile=%s/.env
WorkingDirectory=%s
Restart=always
User=%u
StandardOutput=/var/log/record-camera-output.txt
StandardError=/var/log/record-camera-error.txt

[Install]
WantedBy=multi-user.target
